body {
  width: 100%;
  height: 100%;
  background-image: url(image/cho2.png);
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.ybox {
  width: 85%;
  height: 80%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
